.container {
  font-family: Noto Sans KR, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  color: hsla(0, 0%, 0%, 0.8);
  width: 50%;
  margin: auto;
}

.heading1 {
  border-left: 1rem solid #009688;
  padding-left: 0.5rem;
  padding-bottom: 0;
  line-height: 1.05;
  margin: 2.2rem 0 1.8rem;
  font-size: 2.5rem;
}

.heading2 {
  line-height: 1.2;
  margin-top: 3rem;
}

.heading3 {
  font-size: 1.25em;
  letter-spacing: -1px;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}

sub.updated {
  display: block;
  text-align: right;
}

table.default {
  width: 100%;
  line-height: 2.5;
  border-color: grey;
  border-collapse: collapse;
}

td.default {
  border-top: 1px solid hsla(0, 0%, 0%, 0.12);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  padding: 0 1.2rem;
}

td.default:first-child {
  text-align: right;
  font-weight: bolder;
  width: 20%;
}

p.default {
  line-height: 1.6;
}
